* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
}

.logo {
    position: absolute;
    left: 50px;
    top: 10px;
}

.logo a {
    position: absolute;
    left: 80px;
    top: 30px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    color: #2f2e41;
    font-weight: bold;
    letter-spacing: 1px;
}

.color {
    font-size: 3rem;
    color: rgb(197, 168, 6);
}

.search-area {
    position: fixed;
    top: 40px;
    right: 80px;
    width: 170px;
    height: 45px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
    box-sizing: border-box;
    z-index: 1;
    border: 1px solid rgba(167, 158, 245, 0.2);
}

.search-box input {
    width: 90px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #1f1f1f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    padding: 0px 10px;
}

.search-box input::placeholder {
    color: #1d1d1d;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-family: poppins;
}

.section1 {
    position: absolute;
    left: 15%;
    top: 60%;
    transform: translate(-15%, -50%);
}

.section1 img {
    height: 300px;
}

.section-details {
    position: absolute;
    top: 60%;
    left: 76%;
    transform: translate(-50%, -75%);
}

.section-details h1 {
    font-family: roboto;
    font-weight: bold;
    margin: 0px;
    line-height: 60px;
    font-size: 4rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    letter-spacing: 6px;
    color: #3d3d4a;
    text-transform: uppercase;
}

.section-details h1 span {
    color: #7a72ff;
}

.section-details .btn {
    width: 150px;
    height: 40px;
    background-color: #2f2e41;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    margin-top: 20px;
    color: #fff;
    font-family: calibri;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    border: transparent !importent;
}

.section-details .btn:hover {
    color: #fff;
    background: #6e64ff;
    transition: all ease 0.5s;
}

.icon-area {
    position: fixed;
    left: 50px;
    top: 30%;
    transform: translate(-50%);
    border-radius: 20px;
    background: #fff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
    padding: 5px 0px;
    z-index: 1;
}

.icon-area a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
}

.icon-area a i {
    color: #6e64ff;
}

.icon-area a i:hover {
    color: rgba(39, 39, 39, 0.80);
}


/* PRODUCT SECTION */

.product-section {
    width: 85%;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    margin-top: -60px;
    position: relative;
    background-size: 1000px;
    border-radius: 10px;
}

.product_color {
    color: #6e64ff;
}

.product-section h3 {
    text-align: center;
    font-size: 2rem;
    margin: 20px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    font-family: miread pro;
}

.prodect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
    width: 100%;
}

.product-box {
    width: 250px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
    margin: 10px 30px;
}

.product-box img {
    height: 180px;
}

.product-box p {
    color: #4d4d4d70;
    font-family: myriar pro;
    font-size: 0.9rem;
    letter-spacing: 0.5;
}

.product-box a {
    color: #2c2c2c;
    font-family: poppins;
    font-size: 1rem;
}

.buy_btn {
    display: flex;
    position: absolute;
    width: 120px;
    height: 35px;
    justify-content: center;
    align-items: center;
    font-family: calibri;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    background: linear-gradient(120deg, #6b60ec 20%, #a166f4);
    color: #fff;
    display: none;
    animation: fade 0.2s;
}

.product-box:hover {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
    background: #fff;
}

.product-box:hover .buy_btn {
    display: flex;
}

.product-box:hover a:last-child {
    color: #fff;
    transition: all ease 0.3s;
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    margin: 30px auto;
    padding: 30px;
    margin-bottom: 70px;
}

.about-details {
    width: 40%;
}

.about-details>h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.about-details>h4 {
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 10px;
}

.about-details span {
    color: #6e64ff;
}

.about-details p {
    color: #706e8d;
}

.about-img {
    width: 55%;
}

.about-img img {
    width: 100%;
    height: 100%;
}

.notification {
    width: 100%;
    height: 250px;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid rgba(0, 0, 0, 0.3); */
}

.notification h3 {
    font-size: 2rem;
    color: rgb(56, 56, 56);
}

.notification-input {
    width: 400px;
    height: 40px;
    background: #fff;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    box-shadow: 2px 3px 30px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.notification-input input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: transparent;
}

.notificaton-btn {
    width: 120px;
    height: 30px;
    background-color: #202020;
    border-radius: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.notificaton-btn:hover {
    background-color: #7a72ff;
    transition: all ease 0.5s;
}

footer {
    background: rgb(15, 14, 14);
    padding: 20px;
}

footer p {
    text-align: center;
    color: rgb(241, 234, 234);
    letter-spacing: 1px;
}